<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理首页</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/amazeui.min.css">
    <link rel="stylesheet" href="/css/petshow.css?6">
    <link rel="stylesheet" href="/css/animate.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/amazeui.min.js"></script>
    <script src="/js/amazeui.lazyload.min.js"></script>

</head>
<body>
<header class="am-topbar am-topbar-inverse">
    <div class="amz-container">
        <h1 class="am-topbar-brand">
            <a href="/" class="am-topbar-logo">
                <img src="/img/logo.png?1" alt="">
            </a>
        </h1>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
                data-am-collapse="{target: '#doc-topbar-collapse-5'}">
            <span class="am-sr-only">
                导航切换
            </span>
            <span class="am-icon-bars">
            </span>
        </button>
        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse-5">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li class="am-active">
                    <a href="/admin">
                        后台管理
                    </a>
                </li>
                <% if(userInfo.isAdmin){ %>
                <li>
                    <a href="/admin/user">
                        用户管理
                    </a>
                </li>
                <% }else{ %>
                <li>
                    <a href="/admin/user">
                            我的文章
                    </a>
                </li>
                <% } %>
                <% if(userInfo.isAdmin){ %>
                <li class="am-dropdown" data-am-dropdown="">
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle="" href="javascript:;">
                        分类管理
                        <span class="am-icon-caret-down">
                        </span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li>
                            <a href="/admin/category">
                                分类列表
                            </a>
                        </li>
                        <li>
                            <a href="/admin/category/add">
                                分类添加
                            </a>
                        </li>
                    </ul>
                </li>
                <% } %>
                <li class="am-dropdown" data-am-dropdown="">
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle="" href="javascript:;">
                        内容管理
                        <span class="am-icon-caret-down">
                        </span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li>
                            <a href="/admin/content">
                                内容列表
                            </a>
                        </li>
                        <li>
                            <a href="/admin/content/add">
                                内容添加
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="am-topbar-right">
                <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm" style="background:#323436;"><a href="/">退出</a></button>
            </div>
        </div>
    </div>
</header>

