<div class="loginmask">
</div>
<div id="loginalert">
    <div class="pd20 loginpd">
        <h3><i class="closealert fr"></i>
            <div class="clear">
            </div>
        </h3>
        <div class="loginwrap">
            <div class="loginh">
                <div class="fl">
                    用户登录
                </div>
                <div class="fr">
                    还没有账号<a id="sigup_now" href="##" onclick="return false;">立即注册</a>
                </div>
                <div class="clear">
                </div>
            </div>
            <h3><span class="login_warning lt"></span>
                <div class="clear">
                </div>
            </h3>
            <div class="clear">
            </div>

                <div class="logininput">
                    <input type="text" id="username" placeholder="用户名：" class="loginusername" />
                    <input type="password"  id="password" class="loginuserpasswordt"  placeholder="密码："/>
                </div>
                <div class="loginbtn">
                    <div class="loginsubmit fl" >
                        <input type="submit" id="dl" value="登录"/>
                        <div class="loginsubmiting">
                            <div class="loginsubmiting_inner">
                            </div>
                        </div>
                    </div>

                    <div class="fr">
                        <a href="##">忘记密码?</a>
                    </div>
                    <div class="clear">
                    </div>
                </div>

        </div>
    </div>
</div>
<div id="reg_setp">
    <div class="back_setp">
        返回
    </div>

    <div id="setp_quicklogin">
        <div class="loginwrap">
            <div class="loginh">
                <div class="fl">
                    用户注册
                </div>
                <div class="clear">
                </div>
            </div>
            <h3><span class="login_warning rt"></span>
                <div class="clear">
                </div>
            </h3>
            <div class="clear">
            </div>

                <div class="logininput">
                    <input type="text" id="regUser" placeholder="用户名：" class="loginusername" />
                    <input type="password" id="regPsd" placeholder="密码：" class="loginusername" />
                    <input type="password"  id="regRepsd" placeholder="确认密码：" class="loginusername" />
                </div>
                <div class="loginbtn">
                    <div class="loginsubmit fl" >
                        <input type="submit" id="zz" value="注册"/>
                    </div>
                    <div class="clear">
                    </div>
                </div>

        </div>
    </div>
</div>